body {
    font-size: 15px;
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0;
    background: lightskyblue;
    text-align: center;
    padding: 0;
}
}
.topspace {
  margin-top: 40px;
}